* {
  box-sizing: border-box;
}

html {
  font-family: Arial;
  font-size: 11pt;
}

body {
  background-color: #EAEAEA;
}

main {
  width: 800px;
  margin: 0 auto;
  padding: 2em 5% 1em;
  background-color: #FFF;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

main footer {
  text-align: right;
  border-top: 1px solid lightgray;
  padding-top: .25em;
}

.title, .company {
  font-size: 1.5em;
}

.company a {
  text-decoration: none;
}

.title {
  font-family: Georgia;
  font-weight: bold;
}

header {
  margin-bottom: 15px;
}

address {
  text-align: right;
}

.duration {
  font-style: italic;
}

.tagline {
  font-style: italic;
  margin-bottom: 5px;
}

.tech ul, .tech li{
  display: inline;
  line-height: 1.5em;
}

.tech ul {
  padding: 0;
}

.tech li {
  border: 1px solid lightgray;
  padding: 0 .25em;
}

#who p, #what article {
  padding: .5em 1em;
  text-align: justify;
  margin-bottom: 1em;
}

main article:nth-child(odd) {
  background-color: #EEE;
}

