* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica;
  font-size: 11pt;
}

body {
  background-color: #EAEAEA;
}

main {
  width: 800px;
  margin: 0 auto;
  padding: 2% 5% 2%;
  background-color: #FFF;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

main footer {
  text-align: right;
}

h2 {
  font-family: Georgia;
}

address {
  text-align: right;
}

.tagline::before {
  content: "Tagline: "
}
