* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica;
  font-size: 11pt;
}

body {
  background-color: #EAEAEA;
}

main {
  width: 800px;
  margin: 0 auto;
  padding: 2em 5% 1em;
  background-color: #FFF;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

main footer {
  text-align: right;
}

.title, .company {
  font-size: 1.5em;
}

.title {
  font-family: Georgia;
  font-weight: bold;
}

header {
  margin-bottom: 15px;
  margin-top: 15px;
}

article {
  border-bottom: 1px solid lightgray;
  padding-bottom: .5em;
}

address {
  text-align: right;
}

.tagline {
  font-size: 1em;
  font-style: italic;
  margin-bottom: 5px;
}

.tech ul, .tech li{
  display: inline;
}

.tech ul {
  padding: 0;
}

.tech li {
  border: 1px solid lightgray;
  padding: 0 .25em;
}
